{% extends 'base.html' %}

{% block content%}

<div class="main-container">
	<div class="pd-ltr-20 xs-pd-20-10">
		<div class="min-height-200px">
		<!-- Cabeçalho -->
			<div class="page-header">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<div class="title">
							<h4>Cadastro</h4>
						</div>
						<nav aria-label="breadcrumb" role="navigation">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="index">Cadastro</a></li>
								<li class="breadcrumb-item active" aria-current="page">Terminal</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
			<!-- Cabeçalho Cadastro -->
			<div class="pd-20 card-box mb-30">
				<div class="clearfix">
					<div class="pull-left">
						<h4 class="text-blue h4">Cadastro de Terminal</h4>
						<p class="mb-30">Cadastro de novos terminais</p>
					</div>
				</div>
				<!-- Formulario -->
				<form action=" " method="POST">
					{{ form.csrf_token }}
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Nome para Exibição</label>
						<div class="col-sm-12 col-md-10">
							{{ form.descricao(class="form-control", placeholder="Busca-Preço 1") }}
							{% if form.errors.descricao %}
								<div class="alert alert-danger" role="alert">
									<ul>
										{% for e in form.errors.descricao %}
											<li>
												{{ e }}
											</li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Endereço IP</label>
						<div class="col-sm-12 col-md-10">
							{{ form.end_ip(class="form-control", placeholder="192.168.0.1") }}
							{% if form.errors.end_ip %}
								<div class="alert alert-danger" role="alert">
									<ul>
										{% for e in form.errors.end_ip %}
											<li>
												{{ e }}
											</li>
										{% endfor %}
									</ul>
								</div>
							{% endif %}
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Servidor</label>
						<div class="col-sm-12 col-md-10">
							<div class="dropdown">
								{{ form.servidor(class="selectpicker") }}
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Temporizador</label>
						<div class="col-sm-12 col-md-10">
							<div class="dropdown">
								{{ form.temporizador(class="selectpicker") }}
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Modo de Operação</label>
						<div class="col-sm-12 col-md-10">
							{% for sub in form.modo %}
								<div class="custom-control custom-radio mb-5">
									{{ sub(class="custom-control-input") }}
									{{ sub.label(class="custom-control-label") }}
								</div>
							{% endfor %}
							{% if form.errors.modo %}
								<div class="alert alert-danger" role="alert">
									<ul>
										{% for e in form.errors.modo %}
											{% if e == "This field is required." %}
												<li>
													Selecione a opção para o modo de operação
												</li>
											{% else %}
												<li>
													{{ e }}
												</li>
											{% endif %}
										{% endfor %}
									</ul>
								</div>
							{% endif %}
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-12 col-md-2 col-form-label">Tipo de Terminal</label>
						<div class="col-sm-12 col-md-10">
							{% for sub in form.tipo_equipamento %}
								<div class="custom-control custom-radio mb-5">
									{{ sub(class="custom-control-input") }}
									{{ sub.label(class="custom-control-label") }}
								</div>
							{% endfor %}
							{% if form.errors.tipo_equipamento %}
								<div class="alert alert-danger" role="alert">
									<ul>
										{% for e in form.errors.tipo_equipamento %}
											{% if e == "This field is required." %}
												<li>
													Selecione a opção para o tipo de terminal
												</li>
											{% else %}
												<li>
													{{ e }}
												</li>
											{% endif %}
										{% endfor %}
									</ul>
								</div>
							{% endif %}
						</div>
					</div>
					<div>
						{{ form.submit(class="btn btn-primary btn-lg btn-block") }}
					</div>
				</form>
			</div>
		</div>
		<div class="footer-wrap pd-20 mb-20 card-box">
				    Mercadologic Tira-Teima mantido por <a href="https://www.processasistemas.com.br" target="_blank">Processa Sistemas</a>
		</div>
	</div>
</div>
{% endblock %}